.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: hsl(204,100%,54%);

    &:disabled {
        background-color: #a9a9a9;
        cursor: default;
    }

    &--is-active {
        background-color: #ff0000;
    }

    &__label {
        color: hsl(0, 0, 100%);
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
    }
}